@import 'https://unpkg.com/open-props';
/* @import 'https://unpkg.com/open-props/normalize.min.css'; */

[x-cloak] { display: none !important; }

body {
    background-color: var(--stone-1);
    color: var(--gray-8);
    font-family: var(--font-sans);
    font-size: var(--font-size-fluid-1);
    line-height: var(--font-lineheight-2);
}

header {
    background: var(--gradient-7);
    color: var(--indigo-0); /* text color */
    text-align: center;
    /* padding: vertical(fluid) horizontal(static) */
    padding: var(--size-fluid-1) var(--size-1);
}

h1 {
    font-size: var(--font-size-fluid-2);
    font-family: 'Kantumruy Pro';
}
    h2, h3, h4 {
    font-family: 'Kantumruy Pro';
}

p {
    font-family: 'Gill Sans';
}

main {
    display: grid;
    gap: var(--size-fluid-4);
    padding-block: var(--size-fluid-4);
    margin-inline: max(((100% - 70rem) / 2), var(--size-fluid-4));
}

.searchbar {
    line-height: var(--font-lineheight-5);
    width: 75%;
    font-size: var(--font-size-6);
    letter-spacing: var(--font-letterspacing-1);
    border-radius: var(--radius-2);
}

header {
    background: var(--gradient-7);
    color: var(--blue-0); /* text color */
    text-align: center;
    /* padding: vertical(fluid) horizontal(static) */
    padding: var(--size-fluid-1) var(--size-1);
}